
{%extends 'layout.html'%}

{% block body%}

<flex>
    

{%with messages = get_flashed_messages() %}
{%if messages%}
{%for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%endfor%}
{%endif%}
{%endwith%}



<div class="card card-body " >
    <form action="/addcontact" method="POST">
        <input type="text" name="fullname" id="fullname" placeholder="name">
        <input type="text" name="email" id="email">
        <input type="phone" name="phone" id="phone">
        <button type="submit">
            Searched
        </button>
    </form>
</div>


<div class="align-self-center">
    <table id="dtVerticalScrollExample" class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <th>N° Pedido</th>
                <th>Fecha de Emisión</th>
                <th>Codigo/RUC</th>
                <th>Cliente</th>
                <th>Importe Doc.</th>
                <th>Fecha de entrega</th>
                <th>vendedor</th>
                <th>Forma de pago</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {%for contact in contacts%}
            <tr>
                <td>{{contact.fullname}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phone}}</td>
                <td>ITEM</td>
                <td>ITEM</td>
                <td>ITEM</td>
                <td>ITEM</td>
                <td>ITEM</td>
                <td>
                    <a href="/delete/{{contact.id}}" class="btn btn-danger">Delete</a>
                
                    <a href="/delete/{{contact.id}}" class="btn btn-success">Aprobar</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="container">
        <div class="row">
         <div class="col-7">
                <table class="table table-striped table-bordered bg-white table-sm">
                    <thead>
                        <tr>
                            <th>Código </th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Sin Igv </th>
                            <th>Precio Con Igv </th>
                            <th>Sub-total </th>
                        </tr>    
                    </thead>
                    <tbody>
                        <td>ITEM</td>
                        <td>ITEM</td>
                        <td>ITEM</td>
                        <td>ITEM</td>
                        <td>ITEM</td>
                        <td>ITEM</td>
                    </tbody>
                </table>
         </div>
         <div class="col-5"> 
            <div class="row-cols-5 alert-success">
                    <td>Linea de credito..........................................................</td>
                    <td> Saldo</td>
            </div>
            
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <th>Facturas x Corbra </th>
                        <th>Pedidos Autorizados</th>
                        <th>Guias x Facturar</th>
                        <th>Total Deuda</th>
                    </tr>    
                </thead>
                <tbody>
                    <td>ITEM</td>
                    <td>ITEM</td>
                    <td>ITEM</td>
                    <td>ITEM</td>
                    <td>ITEM</td>
                    <td>ITEM</td>
                </tbody>
            </table>
         </div>

       </div>

    </div>
</flex>
{%endblock%}